/* Globals */
* {
  font-family: 'Roboto Mono', monospace;
}

.animated {
  transition: opacity .1s ease-in-out;
}

/* Reset */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--primary);
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Variables */
:root {
  --primary: #EBEBEA;
  --secondary: #222222;
}

/* Theme variations */
html[data-theme="dark"] {
  --primary: #222222;
  --secondary: #EBEBEA;
}

html[data-theme="dark"] .theme-switcher svg {
  transform: rotate(180deg);
}

/* General styles */
.container {
  padding: 1rem;
  margin: auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  background-color: var(--secondary);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.logo:hover img {
  opacity: .8;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.email {
  color: var(--secondary);
  font-weight: 400;
}

.underline {
  text-decoration: underline;
  text-underline-offset: .25rem;
}

.underline:hover {
  text-decoration: none;
}

.theme-switcher {
  display: flex;
  position: relative;
  top: 1px;
}

.theme-switcher svg g {
  fill: var(--secondary);
}

.theme-switcher:hover svg {
  opacity: .8;
}

/* Grid */
.content {
  display: grid;
}

/* ATF */
.atf {
  padding: 3rem 0;
}

.atf p {
  color: var(--secondary);
  padding: .75rem 0;
}

.atf p a, .atf p button {
  color: var(--secondary);
  font-size: inherit;
}

.atf p a:hover, .atf p button:hover {
  background: linear-gradient(to right,#12c2e9,#c471ed,#f64f59);
  background-size: 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: gradient;
}

.atf p span {
  display: none;
}

/* Columns */
.columns {
  display: grid;
  grid-gap: 1rem;
}

.columns li h3 {
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.columns li ol:not(.social) {
  display: grid;
  grid-gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.columns li ol.social {
  padding-bottom: 1.5rem;
}

.columns li ol.social a {
  padding: 1rem 0;
}

.columns li ol li p, .columns li ol li a {
  position: relative;
  color: var(--secondary);
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.7;
}

.columns li ol li span {
  font-size: .75rem;
  color: var(--secondary);
  font-weight: 400;
  position: absolute;
  padding-left: .25rem;
  top: -.25rem;
}

.columns li ol li:hover span {
  opacity: 1;
}

/* Post-it notes */
.post-it {
  max-width: 280px;
  background-color: var(--secondary);
  position: absolute;
  border: 1px solid var(--primary);
  transform: translate(20px, 30px);
  z-index: 1;
  user-select: none;
}

.post-it button {
  padding: .5rem;
  padding-bottom: 0;
  width: 100%;
  text-align: right;
}

.post-it div {
  padding: 1rem;
  padding-top: 0;
}

.post-it h6, .post-it p {
  font-size: .8rem;
  color: var(--primary);
}

.post-it h6 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.post-it:hover {
  cursor: move;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .container {
    padding: 5rem;
  }
  
  .content {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
  }

  .atf {
    grid-column: 1/-1;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .atf p {
    font-size: 1.25rem;
  }

  .atf p span {
    display: initial;
  }

  .columns {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
  }

  .columns li ol {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .atf {
    grid-column: span 5;
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  .columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .columns li h3 {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .content {
    grid-template-columns: repeat(12, 1fr);
  }

  .atf {
    grid-column: span 7;
    padding-top: 16rem;
    padding-bottom: 11rem;
  }

  .columns li ol li span {
    opacity: 0;
  }
}

/* Animations */
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}